body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stripes {
  width: 85%;
  height: 100px;
  border: none;
  background-image: repeating-linear-gradient(
    90deg,
    #b0aac0 0px,
    #b0aac0 10px,
    #f0efef 10px,
    #f0efef 20px
  ) ;
  background-repeat: no-repeat;
  animation: progress 5s infinite linear;
}
@keyframes progress {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}